<%= form_with(model: @interest)  do |f| %>
    <%= f.hidden_field :publishing_company_id, value: current_publishing_company.id %>
    <%= f.hidden_field :book_id, value: book.id %>

    <%= f.submit "CONFIRM"%>
<%end%>
<h1>Hello</h1>
<h1><%=current_publishing_company.id%></h1>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      const values = $(this).serialize();

      const posting = $.post('/interests', values);

      posting.done(function(data) {
        const post = data
        console.log(post)
      });
    });
  });
</script>
