
    <% @books.each do |book| %>
        <div class="book <%=book.id%>" data-id=<%=book.id%>>

        <div class="ui card">
          <div class="content">
            <div class="header"><%= book.title.capitalize%></div>
            <div class="meta">
              Author:
              <% if book.author.username %>
                <%= book.author.username%>
              <%else%>
                <%= book.author.email %>
              <%end%>
            </div>

            <div class="description" data-id=<%=book.id%>>
              <div class="book-<%=book.id%>-desciption"></div>
              <br>
             <button class="more-script-info">More Info</button>
             <button class="confirm">Confirm</button>
              <div div='<%=book.id%>-interest-form'></div>
            </div>
          </div>
          <div class="extra content"  data-id<%=book.id%>>

            <span class="right floated bookmark">
              <i class="bookmark icon" data-id<%=book.id%>></i>
              Interested Content
            </span>
            <%= render 'interests/form', :book => book, locals: {url: interests_path}  %>
          </div>

        </div>
        </div>
        <br><br>
    <%end%>
    <br>
    <br>


    <%#= render 'interests/form', :book => book, locals: {url: interests_path(@interest), method: :post}  %>


<script type="text/javascript">

    $('.more-script-info').click(function() {
        const id = $(this).parent().attr('data-id');
        posting = $.getJSON('/books/'+id+'.json', function(data) {
            const book = data
            $(`.book-${id}-desciption`).text(data["description"])
        })
    })

    $('.confirm').click(function() {
        const id = $(this).parent().attr('data-id')
        console.log(id)

    })



</script>
