<div class="container">
        <div class="book <%=@book.id%>" data-id="<%=@book.id%>"">

        <div class="ui card">
          <div class="content">
            <i class="right floated like icon"></i>
            <i class="right floated star icon"></i>
            <div class="header">Title: <%= @book.title.capitalize%></div>
            <div class="meta">Author: <%= @book.author.username%></div>

            <div class="description" data-id=<%=@book.id%>>
              <div class="book-<%=@book.id%>-desciption"></div>
             <button class="more-script-info">More Info</button>
            </div>
          </div>
          <div class="extra content">
            <span class="left floated like">
              <i class="like icon"></i>
              Like

            </span>
            <span class="right floated star">
              <i class="star icon"></i>
              Favorite
            </span>
          </div>
        </div>
        <%=@book.id%>

    </div>

    <br>
