<div class="container">
<h1>Title: <%= @book.full_title%></h1>
<h3>Synopsis: <%= @book.description%></h3>

<h3><em>Author<em>: <%= @book.author.first_name%> <%= @book.author.last_name%></h3>


<%= link_to 'next' %>
</div>

