<div class="container">

<h1 class="book-title" author_id="<%=current_author.id%>" book_id="<%=@book.id%>" next_book_id="">Title: <%= @book.full_title%></h1>

<h3 class="book-description">Synopsis: <%= @book.description%></h3>

<h3 class="book-author"><em>Author<em>: <%= @book.author.first_name%> <%= @book.author.last_name%></h3>



  <a href="#" id="next-book-link" >Next</a><br>

  <%= link_to "Profile Page", current_author %>
</div>



<script type="text/javascript">

  $('#next-book-link').click(function(e) {
    e.preventDefault()
    e.stopPropagation()
    const nextBookId = parseInt($('.book-title').attr('book_id')) + 1
    const authorId = $('.book-title').attr('author_id')
    bookData = $.getJSON('/authors/'+authorId+'book_data')
    bookData.done(function(data) {
      const authorData = data
      const books = authorData["books"]
      const nextBook = books.find( book => {
        return book.id === nextBookId
      })
      $('.book-title').attr('book_id', nextBookId)
      if (!nextBook.title === "") {
        $('.book-title').text('untitled')
      } else {
        $('.book-title').text(nextBook.title)
      }
      $('.book-description').text(nextBook.description)
      $('.book-author').text(authorData.first_name + " " +authorData.last_name)
    })
  })




</script>
